{% extends ".\base.html" %}
{% block title %}Quen mat khau{% endblock %}
{% block content %}

{% if request.user.is_authenticated %}
    <script>
        window.location.href = '{% url "store:dashboard" %}';
    </script>
{% endif %}

<style>
    .account-form input {
        border: 2px solid #ccc;
        height: calc(2em + .75rem + 2px);
    }

    .account-form input:focus {
        border-color: #1497ff;
        box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.075), 0 0 0px rgba(255, 0, 0, 0.6);
    }
</style>

<div class="container-fluid">
    <div class="row no-gutter">
        <div class="col-md-12">
            <div class="login d-flex align-items-center py-5">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-12 mx-auto">
                            <form class="account-form p-4 rounded col-lg-8 mx-auto" method="post" action="{% url 'store:password_reset' %}">
                                {% csrf_token %}
                                {% if messages %}
                                {% for message in messages %}
                                <div class="alert alert-primary {{ message.tags }}" role="alert">
                                    {% comment %} <h3>Password reset mail sent</h3><hr>
                                    <p>
                                    We've emailed you instructions for setting your password, if an account exists with the email you entered. 
                                    You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address 
                                    you registered with, and check your spam folder.
                                    </p>                                   {% endcomment %}
                                    {{message}}
                                </div>
                                {% endfor %}
                                {% endif %}
                            
                                <p class="h3 mb-4 font-weight-bold">Quên mật khẩu?</p>
                                    <p>Nhập vào email của bạn. Chúng tôi sẽ gửi mail xác thực và bạn có thể đổi mật khẩu mới.</p>
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form.errors|striptags}}
                                        </div>
                                    {% endif %}
                                    <label class="small font-weight-bold mx-4">{{ form.email.label}}</label>
                                    {{ form.email }}
                                    <button class="btn btn-primary btn-block py-2 mb-4 mt-5 fw-bold w-100" type="submit"value="Send e-mail">Gửi e-mail</button>
                                    <p class="text-center"><a href="{% url "store:login" %}">Đăng nhập</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}