{% extends '.\base.html'%}
{% load static %}
{% block title %} HOME PAGE {% endblock %}
{% block content %} 

<!--SLIDER-->
<div id="carouselExampleIndicators" class="carousel slide mt-4" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div>
    <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="https://via.placeholder.com/696x170" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://via.placeholder.com/696x170" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="https://via.placeholder.com/696x170" class="d-block w-100" alt="...">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--END SLIDER-->
</div>
<!--SHOW PRODUCTS-->
  <div class="list-product mt-5">
      <div class="row">
          <h2 class = "list-product-title">{{category.title|title}}</h2>
          <div class="list-product-description pb-3">
            <p>List product description</p>
          </div>
      </div>

      <div class="product-group">
          <div class="row row-cols-2 row-cols-sm-3 row-cols-md-5 g-3">
            {% for product in products%}
              <div class="col">
                <div class="card col-product"> <a class="text-dark text-decoration-none" href="{{product.get_absolute_url}}"> 
                      <img class="card-img-top img-resize" src="{{ product.image.url }}" alt="Card image cap">
                      <div class="card-body">
                        <div class="product-price">
                            <span class='new-price'> 397.000 đ</span>
                            <span class = "discount-percent">14%</span>
                            <span class='old-price'>332.000 đ</span>
                        </div>
                        <p class="card-title product-title">{{ product.category.title }}</p>
                        <p class="card-text product-name">{{ product.title}}</p>
                        <a href="#" class="btn btn-success w-100">Thêm vào giỏ hàng</a>
                      </div>
                    </a>
                </div>
              </div>
            {% endfor %}
          </div>
      </div>
  </div>



<!--END PRODUCTS-->
  
{% endblock %}
